input.form-control {
    margin-bottom: 5px;
}

body {
    padding-top: 70px;
}

.login-header {
    margin-top: 40px;
}

.blue-text {
    color: #2e6da4;
}

.right-line {
    height: 90vh;
    border-right: 1px solid lightgrey;
    margin-top: -20px;
}

.right-down {
    margin-top: 20px;
}

.top-margin {
    margin-top: 10px;
}

.bottom-margin {
    margin-bottom: 60px;
}

.widget-position {
    position: relative;
}

.right-margin {
    margin-right: 20px !important;
}

.navbar-default {
    background-color: #337ab7;
    border-color: #2e6da4;
    color: #fff;
}

.navbar-default .navbar-text {
    color: #fff;
}

.navbar-default .navbar-link {
    color: #fff !important;
}

.navbar-default .navbar-brand {
    color: #fff;
}

.navbar-text {
    margin-left: 0px !important;
    margin-right: 0px !important;
}

.top {
    position: absolute;
    padding-right: 0px;
    height: 25px;
}

@media (min-width: 992px) and (orientation: landscape) {
    .col-md-4 {
    }
}

.no-margin-bottom {
    margin-bottom: 0px;
}

.widget-style {
    border-bottom-left-radius: 5px;
    background-color: white;
}

.right-nav {
    margin-right: 10px;
}

.scroll-y {
    overflow-y: scroll;
    position: relative;
    height: -moz-calc(100vh - 130px); /* Firefox */
    height: -webkit-calc(100vh - 130px); /* Chrome, Safari */
}

.widgetRender
{
    padding-top: 20px;
    padding-bottom: 20px;
    margin-bottom: 0px;
    margin-top: 10px;
}

.youtube-widget
{
    position: relative;
    padding-bottom: 45.25%; /* 16:9 */
    height: 0;
}

.youtube-widget iframe
{
    position: absolute;
    top: 0;
    left: 0;
    width: 85%;
    height: 100%;
}