<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container">
        <div class="row">
            <div class="col-xs-10">
                <div class=" pull-left">
                    <div>
                        <a href="#/user/{{model.userId}}/website/{{model.websiteId}}/page/{{model.pageId}}/widget"
                           class="navbar-link navbar-text pull-left right-margin">
                            <span class="glyphicon glyphicon-chevron-left"/>
                        </a>
                        <p class="navbar-text pull-right">
                            Choose Widget
                        </p>
                    </div>
                </div>
            </div>

        </div>
    </div>
</nav>

<div class="container">
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-mid-12 col-lg-12">
                <p class="pull-left">
                    <a ng-click="model.createHeaderWidget()" class="blue-text">Header</a>
                </p>
            </div>
        </div>
    </div>
</div>

<div class="container">
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-mid-12 col-lg-12">
                <p class="pull-left">
                    <a ng-click="model.createHtmlWidget()" class="blue-text">HTML</a>
                </p>
            </div>
        </div>
    </div>
</div>

<div class="container">
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-mid-12 col-lg-12">
                <p class="pull-left">
                    <a ng-click="model.createImageWidget()" class="blue-text">Image</a>
                </p>

                <br>
            </div>
        </div>
    </div>
</div>

<div class="container">
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-mid-12 col-lg-12">
                <p class="pull-left">
                    <a ng-click="model.createYoutubeWidget()" class="blue-text">You Tube</a>
                </p>
            </div>
        </div>
    </div>
</div>

<nav class="navbar navbar-default navbar-fixed-bottom">
    <div class="container">
        <div class="row">
            <div class="col-xs-10 col-sm-11 col-md-11 col-lg-11">
            </div>
            <div class="col-xs-2 col-sm-1 col-md-1 col-lg-1">
                <p class="navbar-text pull-right">
                    <a href="profile.html" class="navbar-link">
                        <span class="glyphicon glyphicon-user"/>
                    </a>
                </p>
            </div>
        </div>
    </div>
</nav>
